h1 {
    font-family: 'Open Sans', sans-serif;
}

#top {
    
    width: 100%;
    display: flex;
}
#leftdiv {
    height: 520px;
    width: 38%;
    flex-grow: 1;
    flex-basis: 38%;
    flex-shrink: 1;
}
#rightdiv {
    height: 520px;
    width: 62%;
    min-width: 600px;
    flex-grow:1;
} 
#right {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
img {
    height: 100%;
    margin: 0px;
}
#top span:nth-of-type(1) {
    
    height: 70px;
    width: 100%;
}
#top span:nth-of-type(2) {

    height: 115px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 35px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    font-size: 4rem;
}
#top span:nth-of-type(3) {
    
    height: 60px;

    padding-left: 20px;
    padding-top: 0px;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    word-spacing: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px;

}
#button1 {
    height: 40px;
    width: 65%;
}

#buttonfirst {
    border-radius: 25px;  
    background-color: rgb(29, 161, 242);
    color:#FFFFFF;  
    text-align :center;  
    font-family:  sans-serif;
    font-weight:bold;  
    width:100%;  
    height: 100%;  
    box-shadow: none;
    border: none;
    margin-left: 20px;
    font-size: 1rem;
}
#buttonsecond {
    border-radius: 25px;  
    background-color: white;
    color:rgb(29, 161, 242);  
    text-align :center;  
    font-family: sans-serif;
    font-weight:bold;  
    width:100%;  
    height: 100%;  
    box-shadow: none;
    border: none;
    margin-left: 20px;
    font-size: 1rem;
    border: 1px solid rgb(29, 161, 242)
}
#button2 {
    height: 40px;
    width: 65%;
    margin-top: 20px;
}
button:nth-of-type(1){
    height: 40px;
    width:100%;
}

#top span:nth-of-type(4) {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#logo img {
    width: 50px;
    height: 40px;
    margin: 0px;
    padding: 20px;
    display: flex;
}
@media (max-width: 900px) {
    #top {
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
    }
    #right {
        width: 100%;
        align-items: flex-start;
        margin: 0px;
        height: 100%;
    }
    #leftdiv {
        width: 100%;
    }
    #rightdiv {
        width: 65%;
        padding: 20px;
        min-width: 400px;
        align-items: center;
    }
    #top span:nth-of-type(1){
        width: 80%;
    }
    #top span:nth-of-type(2) {
        width: 80%;
        height: 200px;
    }
    #top span:nth-of-type(4){
        flex-direction: row;
        padding: 0px;
        height: 100px;
        width: 100%;
        align-items: baseline;
    }
    #top span:nth-of-type(3){
        width: 80%;
    }
    #button1 {
        height: 50%;
        width: 50%;
        flex-basis: 200px;
        flex-grow: 1;
        margin: 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
    }
    #button2 {
        height: 50%;
        width: 50%;
        flex-basis:  200px;
        flex-grow: 1;
        margin: 0px;
        padding: 15px 0px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 15px;
    }
    #buttonfirst{
        margin: 0px;
    }
    #buttonsecond{
        margin: 0px;
    }
}
@media (max-width: 500px) {
    #top span:nth-of-type(2) {
        font-size: 2.5rem;
        height: 100px;
    }
    #rightdiv {
        padding-left: 20px;
        width: 100px;
        flex-basis: 100px;
        flex-grow:1;
        font-size: 100%;
    }
    #right {
        padding-left: 0px;
        width: 100%;
        height: 100%;
    }
    #top span:nth-of-type(3) {
        font-size: 1.5rem;
    }
    #top span:nth-of-type(4) {
        flex-direction: column;
        height: 150px;
        width: 95%;
        }
    #button1 {
        width: 65%;
        padding: 15px 0 15px 20px;
    }
    #button2 {
        width: 65%;
        padding: 15px 0 15px 20px;
    }
}